.ant-table {
  color: white !important;
  background-color: transparent !important;
  font-size: 15px !important;
}
.ant-table-thead > tr > th {
  color: white !important;
  font-weight: bold !important;
  font-size: 16px !important;
  background: transparent !important;
  border-bottom: 1px solid #f0f0f0;
}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: rgba(162, 162, 162, 6) !important;
  cursor: pointer;
}

.ant-table-tbody > tr.ant-table-row:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 8px 8px !important;
}
.ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.table > :not(caption) > * > * {
  /* padding: 0.5rem 0.5rem; */
  padding: 0 !important;
}

th.ant-table-cell.sttRow {
  width: 55px !important;
}

.table {
  border-collapse: none !important;
  width: 100% !important;
}

.table thead tr {
  border-bottom: 2px solid white !important;
}

.table thead td {
  padding-bottom: 10px !important;
  color: white !important;
}

.table tbody td {
  padding-top: 15px !important;
  color: white !important;
  vertical-align: center !important;
}

.table tbody tr {
  vertical-align: center !important;

  &:nth-child(odd) {
    background-color: rgb(255, 255, 255, 10%) !important;
  }
}

tbody td .icon {
  font-size: 20px !important;
  margin: 0 10px !important;
}
